{{page-title "SHACL Validation POC"}}

<AuMainHeader
  @brandLink="https://www.vlaanderen.be/nl"
  @homeRoute="index"
  @appTitle="SHACL Validation POC"
/>

<main id="main" class="au-c-main-container">
  <div
    class="au-c-main-container__content au-c-main-container__content--scroll"
    id="content"
  >
    <div class="au-c-body-container">
      <NavigationBar />
      {{outlet}}
    </div>
  </div>
</main>